<div class="starter-template">
    <h1>MEAN Demo: CDs List</h1>
    <p class="lead">This demo uses Mysql, Express, Angular 2 and Node.js.</p>
    <h1>My Cds List</h1>
  <hr>
  </div>
<form class="well" (submit)="addCd($event)">
  <div class="form-group">
    <input type="text" [(ngModel)]="titel" name="titel" class="form-control" placeholder="titel" required/>
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="interpret" name="interpret" class="form-control" placeholder="interpret" required />
  </div>
  <button class="btn btn-danger">Add CD</button>
</form>

<div *ngFor="let cd of cds" class="row">
  <div class="col-md-1">
    {{cd.id}}
  </div>
  <div class="col-md-4">
    {{cd.titel}}
  </div>
  <div class="col-md-3">
    {{cd.interpret}}
  </div>
  <div class="col-md-2">
    {{cd.jahr}}
  </div>
  <div class="col-md-2">
    <input type="button" (click)="deleteCd(cd)" value="Löschen" class="btn btn-danger" />
  </div>
  <br><br>
</div>